<jsv-header>
<button-header-left onclick="$JSView.closeModal('modalC')">X</button-header-left>
    <b>Guinness</b>
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
  <IMG margin-left="50" SRC="img\Guinness.png" border=0 width="25%" height="25%">
    <a href="https://www.guinness.com/" target="_blank">Página oficial</a>
    <p>Guinness (pronunciación en AFI : /ˡgɪ.nəs/) es una cerveza negra seca del tipo stout elaborada por primera vez por el cervecero Arthur Guinness en la empresa cervecera denominada St. James's Gate Brewery ubicada en la ciudad de Dublín, Irlanda. Guinness se elabora desde el año 1759. La cerveza se basa en el estilo porter, originado en Londres a principios de 1700. Se trata de una de las marcas de cerveza más conocidas y se exporta a la mayor parte de los países. Ha llegado a batir a muchos imitadores. La característica distintiva en el sabor es la cebada tostada que se mantiene sin fermentar. Durante muchos años una parte de la cerveza se envejecía para dar un sabor láctico, pero Guinness ha renunciado confirmar si esto sigue ocurriendo. La gruesa y cremosa espuma es resultado de una mezcla de nitrógeno añadida en el envasado. Lo que está comprobado es que no lleva café, pese a la creencia popular.</p>
</jsv-content>
