<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modalB')">X</button-header-left>
    Corona
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
  <IMG  class="center" SRC="img\corona.png" border=0 width="25%" height="25%">
    <a href="https://cervezacorona.es" target="_blank">Página oficial</a>
    <p>El porqué de su nombre
Es coger una Corona y convertirte en un rey. Disfruta de una cerveza única y sobre todo de gran calidad.
Los colores de la etiqueta
Amarilla como el sol, azul como el mar. La etiqueta de Corona te lleva a la mejor playa del mundo: aquella que sientes dentro de ti.</p>
</jsv-content>
